// chat jippity was used in the making for explaning to me that i used @import and not @include in this production
// imports
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
// fonts
$fontMain: 'Rubik';
// animations
$animationTransition1: all 0.6s cubic-bezier(0.06, 0.98, 0.41, 0.93);
// filters
$filterMain: brightness(115%) saturate(110%) hue-rotate(-15deg);

body {
        margin: 0px;
        color: rgb(235, 235, 235);
        background-color: rgb(28, 28, 28);
        font-family: $fontMain;
}

hr {
        filter: opacity(50%) brightness(40%);
}

@mixin header {
        text-align: center;
        text-shadow: 2px 2px 8px rgba(61, 61, 61, 0.5), -2px 2px 8px rgba(61, 61, 61, 0.5), 2px -2px 8px rgba(61, 61, 61, 0.5), -2px -2px 8px rgba(61, 61, 61, 0.5);
}
@mixin elementDefault {
        background-color: black;
        border: 2px solid rgba(250, 250, 250, 0.5);
        color: white;
        padding: 0.5em;
        transition: $animationTransition1; 
        &:hover {
                border-color: #14c600;
                color:#14c600;
        }
}

.headerMain {
        @include header;
        font-size:3em;
}

.tableNormal { // copied from another web project that I, sir Henry Carl of Bend has made. some other SASS/SCSS has been pasted as well
        margin: 24px auto;
        background-color: rgb(20,20,20);
        box-shadow: -8px 0px 8px rgba(20,20,20,0.2), 8px 0px 24px rgba(20,20,20,0.2), 0px 8px 8px rgba(20,20,20,0.2), 0px -8px 24px rgba(20,20,20,0.2);
        width:50%;
        font-size: 1.5em;
        th {    
                background-color: rgb(24,24,24);
                box-shadow: -8px 0px 8px rgba(24,24,24,0.2), 8px 0px 24px rgba(24,24,24,0.2), 0px 8px 8px rgba(24,24,24,0.2), 0px -8px 24px rgba(24,24,24,0.2);
                margin: 2px;
                padding: 8px 12px;
                font-weight: bold;
                text-align: center;
                min-width: 200px;
                border: 1px solid rgba(250,250,250,0.5);
                transition: $animationTransition1;
        }
        td {
                background-color: rgb(24,24,24);
                box-shadow: -8px 0px 8px rgba(24,24,24,0.2), 8px 0px 24px rgba(24,24,24,0.2), 0px 8px 8px rgba(24,24,24,0.2), 0px -8px 24px rgba(24,24,24,0.2);
                margin: 2px;
                padding: 4px 6px;
                text-align: center;
                min-width: 50px !important;
                border: 1px solid rgba(250,250,250,0.5);
                transition: $animationTransition1;
                white-space: nowrap; // Prevent line breaks within the cell
        }
        .noShow:hover {
                transition: $animationTransition1;
                filter: $filterMain;
        }
        th:hover:not(.noShow),
        td:hover:not(.noShow) {
                transition: $animationTransition1;
                border: 1px solid rgb(80,80,80);
                cursor: default;
        }
}

#container {
        margin: auto;
        width: 77.77777%; // lucky number 7!
        box-shadow: -8px 0px 8px rgba(24,24,24,0.2), 8px 0px 24px rgba(24,24,24,0.2);
        .containerInner {
                padding: 8px 16px;
                background-color: rgb(24,24,24);
                .autoPhaseHeader {
                        @include header;
                        font-size: 2em;
                }
        }
}

.noShow {
        filter: opacity(0%);
        transition: $animationTransition1;
}

.noMake {
        display: none;
        transition: $animationTransition1;
}


input[type="radio"] {
        appearance: none;
        -webkit-appearance: none;
        border-radius: 50%;
        background: rgb(0,0,0);
        border: 0.3em solid rgb(28,28,28);
        outline: 0.2em solid #14c60030;
        width: 1.5em;
        height: 1.5em;
        transition: $animationTransition1;
        cursor: pointer;
        &:hover {
                outline: 0.2em solid #14c600a0;
        }
        &:checked {
                background: #14c600;
                outline: 0.2em solid #14c600a0;
        }

}

.Jbutton {
        @include elementDefault;
        font-size: 1.2em;
        cursor:pointer;
        margin: 0.3em 0.7em;
        padding-right: 2.5em;
        padding-left: 2.5em;
        border-radius: 1.5em;
        display: inline-block !important; // Ensure buttons are inline-block
}

.textInputNormal {
        @include elementDefault;
        width: 3em;
        border-radius: 0.5em;
        cursor:text;
        &:focus {
                outline:none;
        }
}

@media only screen and (max-width: 1100px) {
        #container {
                width: 100%;
        }
}
    
@media only screen and (max-width: 845px) {
        #container {
                width: 100%;
        }
        .tableNormal {
                width: 90%;
        }
        td {
                min-width: 100px;
        }
        .tableText {
                margin: 2px !important;
                padding: 25px 10px !important;
        }
}