/*
 * THE FOLLOWING IS NOT, AND SHOULD NOT BE TAKEN AS LEGAL ADVICE. WE ARE NOT A LAW FIRM, HOWEVER, IF YOU WOULD EVER REQUIRE
 * ASSISTANCE FROM AN ACTUAL LAW FIRM, WOULD YOU LOOK NO FURTHER THAN THE EagleTeam. BECAUSE YOU DON'T JUST NEED A 
 * LEGAL TEAM, YOU NEED THE EagleTeam.
 *
 * This code is liscenced under the legally distinct Cool Code 0 v1.0 liscence (CC0 v1.0). This means that the following
 * code is hereby declared to be viewed as the litteral coolest thing you have ever seen. The writers, owners, and
 * distributers of this code under the CC0 v1.0 liscense are automatically deemed as the most awesome people ever. Agreement
 * to this statement is automaticly triggered upon viewing a product actively utilizing this code. 
 */
@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");
* {
  touch-action: manipulation;
}

body {
  margin: 0px;
  color: rgb(235, 235, 235);
  background-color: rgb(28, 28, 28);
  font-family: "Rubik";
}

hr {
  filter: opacity(50%) brightness(40%);
  border: 2px solid #14c600;
}

.headerMain {
  text-align: center;
  text-shadow: 2px 2px 8px rgba(61, 61, 61, 0.5), -2px 2px 8px rgba(61, 61, 61, 0.5), 2px -2px 8px rgba(61, 61, 61, 0.5), -2px -2px 8px rgba(61, 61, 61, 0.5);
  font-size: 3em;
}

.tableNormal {
  margin: 24px auto;
  background-color: rgb(20, 20, 20);
  box-shadow: -8px 0px 8px rgba(20, 20, 20, 0.2), 8px 0px 24px rgba(20, 20, 20, 0.2), 0px 8px 8px rgba(20, 20, 20, 0.2), 0px -8px 24px rgba(20, 20, 20, 0.2);
  width: 50%;
  font-size: 1.5em;
}
.tableNormal th,
.tableNormal td {
  background-color: rgb(24, 24, 24);
  box-shadow: -8px 0px 8px rgba(24, 24, 24, 0.2), 8px 0px 24px rgba(24, 24, 24, 0.2), 0px 8px 8px rgba(24, 24, 24, 0.2), 0px -8px 24px rgba(24, 24, 24, 0.2);
  margin: 2px;
  text-align: center;
  border: 1px solid rgba(250, 250, 250, 0.5);
  transition: all 0.6s cubic-bezier(0.06, 0.98, 0.41, 0.93);
}
.tableNormal th:hover:not(.noShow),
.tableNormal td:hover:not(.noShow) {
  transition: all 0.6s cubic-bezier(0.06, 0.98, 0.41, 0.93);
  border: 1px solid rgb(80, 80, 80);
  cursor: default;
}
.tableNormal th {
  padding: 8px 12px;
  font-weight: bold;
  min-width: 200px;
}
.tableNormal td {
  padding: 4px 6px;
  min-width: 50px !important;
  white-space: nowrap;
}
.tableNormal .noShow:hover {
  transition: all 0.6s cubic-bezier(0.06, 0.98, 0.41, 0.93);
  filter: brightness(115%) saturate(110%) hue-rotate(-15deg);
}

#container {
  margin: auto;
  width: 77.7777777777%;
  box-shadow: -8px 0px 8px rgba(24, 24, 24, 0.2), 8px 0px 24px rgba(24, 24, 24, 0.2);
}
#container .containerInner {
  padding: 8px 16px;
  background-color: rgb(24, 24, 24);
}
#container .containerInner h2 {
  text-align: center;
  text-shadow: 2px 2px 8px rgba(61, 61, 61, 0.5), -2px 2px 8px rgba(61, 61, 61, 0.5), 2px -2px 8px rgba(61, 61, 61, 0.5), -2px -2px 8px rgba(61, 61, 61, 0.5);
  font-size: 2em;
  border-bottom: 2px solid #14c600;
  border-top: 2px solid #14c600;
  background-color: rgba(20, 198, 0, 0.1882352941);
  width: 90%;
  margin: 2em auto;
  padding: 0.5em;
}

.noShow {
  filter: opacity(0%);
  transition: all 0.6s cubic-bezier(0.06, 0.98, 0.41, 0.93);
}

.noMake {
  display: none;
  transition: all 0.6s cubic-bezier(0.06, 0.98, 0.41, 0.93);
}

input[type=radio], input[type=checkbox] {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border-radius: 50%;
  background: rgb(0, 0, 0);
  border: 0.3em solid rgb(28, 28, 28);
  outline: 0.2em solid rgba(20, 198, 0, 0.1882352941);
  width: 1.5em;
  height: 1.5em;
  transition: all 0.6s cubic-bezier(0.06, 0.98, 0.41, 0.93);
  cursor: pointer;
}
input[type=radio]:hover, input[type=radio]:checked, input[type=checkbox]:hover, input[type=checkbox]:checked {
  outline: 0.2em solid #14c600;
}
input[type=radio]:checked, input[type=checkbox]:checked {
  background: #14c600;
}

input[type=checkbox] {
  border-radius: 10% !important;
}

input[type=number], input[type=text] {
  background-color: black;
  border: 2px solid rgba(250, 250, 250, 0.5);
  color: white;
  padding: 0.5em;
  transition: all 0.6s cubic-bezier(0.06, 0.98, 0.41, 0.93);
  display: inline-block;
  width: 3em;
  margin: 0.2em 0.3em;
  border-radius: 0.5em;
  cursor: text;
  font-size: 1.5em;
  overflow-y: hidden;
  overflow-x: scroll;
}
input[type=number]:hover, input[type=text]:hover {
  border-color: #14c600;
  color: #14c600;
}
input[type=number]:focus, input[type=text]:focus {
  outline: none;
}

input::-webkit-inner-spin-button {
  cursor: pointer;
}

textarea {
  background-color: black;
  border: 2px solid rgba(250, 250, 250, 0.5);
  color: white;
  padding: 0.5em;
  transition: all 0.6s cubic-bezier(0.06, 0.98, 0.41, 0.93);
  display: inline-block;
  width: 80%;
  height: 10em;
  margin: 0.5em 0;
  border-radius: 1em;
  resize: none;
  font-size: 1.5em;
}
textarea:hover {
  border-color: #14c600;
  color: #14c600;
}
textarea::-webkit-scrollbar {
  background-color: rgba(0, 0, 0, 0);
}
textarea::-webkit-scrollbar-thumb {
  background-color: rgba(20, 198, 0, 0.1882352941);
  cursor: grab;
  border-radius: 1em;
}
textarea::-webkit-scrollbar-thumb:active {
  cursor: grabbing;
}
textarea:focus, textarea:hover {
  outline: none;
  color: white !important;
}
textarea::spelling-error {
  -webkit-text-decoration: wavy #14c600 underline;
          text-decoration: wavy #14c600 underline;
}

span[id^=cv], span[id^=Tcv] {
  font-size: 3em;
}

.Jbutton {
  background-color: black;
  border: 2px solid rgba(250, 250, 250, 0.5);
  color: white;
  padding: 0.5em;
  transition: all 0.6s cubic-bezier(0.06, 0.98, 0.41, 0.93);
  font-size: 1em;
  cursor: pointer;
  margin: 0.3em 0.7em;
  min-width: 4em;
  min-height: 2.4em;
  border-radius: 0.5em;
  display: inline-block !important;
}
.Jbutton:hover {
  border-color: #14c600;
  color: #14c600;
}

img {
  width: 50%;
  display: block;
  margin: 0 auto;
  transition: all 0.6s cubic-bezier(0.06, 0.98, 0.41, 0.93);
  border: 0.2em solid #14c600;
  filter: brightness(115%) saturate(110%) hue-rotate(-15deg);
}
img:hover {
  transform: scale(1.1);
}

select {
  background-color: black;
  border: 2px solid rgba(250, 250, 250, 0.5);
  color: white;
  padding: 0.5em;
  transition: all 0.6s cubic-bezier(0.06, 0.98, 0.41, 0.93);
  font-size: 1.5em;
  cursor: pointer;
  margin: 0.5em 0;
  border-radius: 0.5em;
  display: inline-block;
}
select:hover {
  border-color: #14c600;
  color: #14c600;
}
select:focus {
  outline: none;
}

#submit {
  font-size: 2em;
}

.desktop {
  display: block;
  pointer-events: all;
}

.mobile {
  display: none !important;
  pointer-events: none;
}

.centerWrap {
  text-align: center;
}

.leftAlign *:not(input, th) {
  text-align: left;
}

label {
  text-wrap: wrap;
}

.borderLeft {
  border-left: 0.5em solid #14c600;
  margin-left: 2em;
}

.borderRight {
  border-right: 0.5em solid #14c600;
  margin-right: 0.25em;
}

.borderBottom {
  border-bottom: 0.5em solid #14c600;
  margin-bottom: 0.25em;
}

.borderTop {
  border-top: 0.5em solid #14c600;
  margin-top: 0.25em;
}

:is(.borderLeft, .borderRight, .borderBottom, .borderTop):hover {
  filter: brightness(115%) saturate(110%) hue-rotate(-15deg);
  transition: all 0.6s cubic-bezier(0.06, 0.98, 0.41, 0.93);
}

@media only screen and (max-width: 1100px) {
  #container {
    width: 100%;
  }
}
@media only screen and (min-width: 1101px) and (max-width: 1144px) {
  .tableNormal th {
    font-size: 20px !important;
  }
}
@media only screen and (max-width: 845px) {
  #container {
    width: 100vw;
  }
  .tableNormal {
    border: 0.2em solid #14c600;
    width: 90vw;
  }
  .tableNormal td, .tableNormal th {
    min-width: 20px !important;
    max-width: 50vw;
    font-size: 0.75em !important;
  }
  img {
    width: 85vw;
  }
  .mobile {
    display: block !important;
    pointer-events: all !important;
  }
  .desktop {
    display: none !important;
    pointer-events: none !important;
  }
}/*# sourceMappingURL=style.css.map */



/*ADD THE BELOW TO THE .SCSS*/
/*ALSO: cv and Tcv text size, +/- button size, border changes*/

#top-bar {
  position: fixed;
  top: 0;
  left: 0;
  border-bottom: 0.25em solid #14c600 !important;
  background-color: rgb(28,28,28);
  height:1.5em;
  width:100%;
  font-size:1.3em;
  z-index: 5.555555555555555; /*the starfish smiles upon us all*/
}

*:not(#top-bar,#matchNumInput,#team) {
  position: relative;
  z-index: -1;
}

.auto *:is(table,img) {
  border-color: #14c600 !important;
}
.auto .borderLeft {
  border-left: 0.5em solid #14c600 !important;
}

.auto .borderRight {
  border-right: 0.5em solid #14c600 !important;
}

.auto .borderBottom {
  border-bottom: 0.5em solid #14c600 !important;
}

.auto .borderTop {
  border-top: 0.5em solid #14c600 !important;
}

.auto h2 {
  border-bottom: 2px solid #14c600 !important;
  border-top: 2px solid #14c600 !important;
  background-color: rgba(20, 198, 0, 0.1882352941) !important;
}

.teleop *:is(table,img) {
  border-color: #0014c6 !important;
}
.teleop .borderLeft {
  border-left: 0.5em solid #0014c6 !important;
}

.teleop .borderRight {
  border-right: 0.5em solid #0014c6 !important;
}

.teleop .borderBottom {
  border-bottom: 0.5em solid #0014c6 !important;
}

.teleop .borderTop {
  border-top: 0.5em solid #0014c6 !important;
}

.teleop h2 {
  border-bottom: 2px solid #0014c6 !important;
  border-top: 2px solid #0014c6 !important;
  background-color: rgba(0, 20, 198, 0.1882352941) !important;
}

.endgame *:is(table,img) {
  border-color: #c60014 !important;
}
.endgame .borderLeft {
  border-left: 0.5em solid #c60014 !important;
}

.endgame .borderRight {
  border-right: 0.5em solid #c60014 !important;
}

.endgame .borderBottom {
  border-bottom: 0.5em solid #c60014 !important;
}

.endgame .borderTop {
  border-top: 0.5em solid #c60014 !important;
}

.endgame h2 {
  border-bottom: 2px solid #c60014 !important;
  border-top: 2px solid #c60014 !important;
  background-color: rgba(198, 0, 20, 0.1882352941) !important;
}

