/*
 * THE FOLLOWING IS NOT, AND SHOULD NOT BE TAKEN AS LEGAL ADVICE. WE ARE NOT A LAW FIRM, HOWEVER, IF YOU WOULD EVER REQUIRE
 * ASSISTANCE FROM AN ACTUAL LAW FIRM, WOULD YOU LOOK NO FURTHER THAN THE EagleTeam. BECAUSE YOU DON'T JUST NEED A 
 * LEGAL TEAM, YOU NEED THE EagleTeam.
 *
 * This code is liscenced under the legally distinct Cool Code 0 v1.0 liscence (CC0 v1.0). This means that the following
 * code is hereby declared to be viewed as the litteral coolest thing you have ever seen. The writers, owners, and
 * distributers of this code under the CC0 v1.0 liscense are automatically deemed as the most awesome people ever. Agreement
 * to this statement is automaticly triggered upon viewing a product actively utilizing this code. 
 */


// imports
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
// fonts
$fontMain: 'Rubik';
// animations
$animationTransition1: all 0.6s cubic-bezier(0.06, 0.98, 0.41, 0.93);
// filters
$filterMain: brightness(115%) saturate(110%) hue-rotate(-15deg);
//colors
$chaosGreen: #14c600;
$chaosGreenDark: #14c60030;

@mixin header {
        text-align: center;
        text-shadow: 2px 2px 8px rgba(61, 61, 61, 0.5), -2px 2px 8px rgba(61, 61, 61, 0.5), 2px -2px 8px rgba(61, 61, 61, 0.5), -2px -2px 8px rgba(61, 61, 61, 0.5);
}

@mixin elementDefault {
        background-color: black;
        border: 2px solid rgba(250, 250, 250, 0.5);
        color: white;
        padding: 0.5em;
        transition: $animationTransition1; 
        &:hover {
                border-color: $chaosGreen;
                color:$chaosGreen;
        }
}

* {
        touch-action: manipulation;
}

body {
        margin: 0px;
        color: rgb(235, 235, 235);
        background-color: rgb(28, 28, 28);
        font-family: $fontMain;
}

hr {
        filter: opacity(50%) brightness(40%);
        border: 2px solid $chaosGreen;
}

.headerMain {
        @include header;
        font-size: 3em;
}

.tableNormal { //original design from another project by 5stygian, the code has been modified for this project
        margin: 24px auto;
        background-color: rgb(20,20,20);
        box-shadow: -8px 0px 8px rgba(20,20,20,0.2), 8px 0px 24px rgba(20,20,20,0.2), 0px 8px 8px rgba(20,20,20,0.2), 0px -8px 24px rgba(20,20,20,0.2);
        width: 50%;
        font-size: 1.5em;

        th, 
        td {
                background-color: rgb(24,24,24);
                box-shadow: -8px 0px 8px rgba(24,24,24,0.2), 8px 0px 24px rgba(24,24,24,0.2), 0px 8px 8px rgba(24,24,24,0.2), 0px -8px 24px rgba(24,24,24,0.2);
                margin: 2px;
                text-align: center;
                border: 1px solid rgba(250,250,250,0.5);
                transition: $animationTransition1;

                &:hover:not(.noShow) {
                        transition: $animationTransition1;
                        border: 1px solid rgb(80,80,80);
                        cursor: default;
                }

        }

        th {    
                padding: 8px 12px;
                font-weight: bold;
                min-width: 200px;
        }

        td {
                padding: 4px 6px;
                min-width: 50px !important;
                white-space: nowrap; // Prevent line breaks within the cell
        }

        .noShow:hover {
                transition: $animationTransition1;
                filter: $filterMain;
        }
}

#container {
        margin: auto;
        width: 77.7777777777%; // lucky number 7!
        box-shadow: -8px 0px 8px rgba(24,24,24,0.2), 8px 0px 24px rgba(24,24,24,0.2);

        .containerInner {
                padding: 8px 16px;
                background-color: rgb(24,24,24);

                h2 {
                        @include header;
                        font-size: 2em;
                }
        }
}

.noShow {
        filter: opacity(0%);
        transition: $animationTransition1;
}

.noMake {
        display: none;
        transition: $animationTransition1;
}


input[type=radio], input[type=checkbox] {
        appearance: none;
        border-radius: 50%;
        background: rgb(0,0,0);
        border: 0.3em solid rgb(28,28,28);
        outline: 0.2em solid $chaosGreenDark;
        width: 1.5em;
        height: 1.5em;
        transition: $animationTransition1;
        cursor: pointer;

        &:hover, 
        &:checked {
                outline: 0.2em solid $chaosGreen;
        }
        &:checked {
                background: $chaosGreen;    
        }

}

input[type=checkbox] {
        border-radius: 10% !important;
}

input[type=number], input[type=text] {
        @include elementDefault;

        display: inline-block;
        width: 3em;
        margin: 0.2em 0.3em;
        border-radius: 0.5em;
        cursor: text;
        font-size: 1.5em;
        overflow-y: hidden;
        overflow-x: scroll;
        &:focus {
                outline: none;
        }
}

input::-webkit-inner-spin-button {
        cursor: pointer;
}

textarea {
        @include elementDefault;
        display: inline-block;
        width: 80%;
        height: 10em;
        margin: 0.5em 0;
        border-radius: 1em;
        resize: none;
        font-size: 1.5em;
        &::-webkit-scrollbar {
                background-color: rgba(0,0,0,0);
        }
        &::-webkit-scrollbar-thumb {
                background-color: $chaosGreenDark;
                cursor: grab;
                border-radius: 1em;
                &:active {
                        cursor: grabbing;
                }
        }
        &:focus, &:hover {
                outline: none;
                color: white !important;
        }
        &::spelling-error {
                text-decoration: wavy $chaosGreen underline;
        }
}

span[id^=cv], span[id^=Tcv] { //ripoff RegEx
        font-size: 1.6em;
}

.Jbutton {
        @include elementDefault;
        font-size: 1.4em;
        cursor: pointer;
        margin: 0.3em 0.7em;
        min-width: 4em;
        min-height: 2.4em;
        border-radius: 0.5em;
        display: inline-block !important; // Ensure buttons are inline-block
}

select {
        @include elementDefault;
        font-size: 1.5em;
        cursor: pointer;
        margin: 0.5em 0;
        border-radius: 0.5em;
        display: inline-block;
        &:focus {
                outline: none;
        }
}

#submit {
        font-size: 2em;
}

.desktop {
        display: block;
        pointer-events: all;
}

.mobile {
        display: none !important;
        pointer-events: none;
}


.centerWrap {
        text-align: center;
}

.leftAlign *:not(input, th) {
        text-align: left;
} 

label[for*=status] { //more RegEx
        text-wrap: wrap;
}

.borderLeft {
        border-left: 0.25em solid $chaosGreen !important;
}


.borderRight {
        border-right: 0.25em solid $chaosGreen !important;
}


.borderBottom {
        border-bottom: 0.25em solid $chaosGreen !important;
}


.borderTop {
        border-top: 0.25em solid $chaosGreen !important;  
}

:is(.borderLeft,.borderRight,.borderBottom,.borderTop):hover {
        filter: $filterMain;
        transition: $animationTransition1;
}


@media only screen and (max-width: 1100px) {
        #container {
                width: 100%;
        }
        
}

@media only screen and (min-width: 1101px) and (max-width: 1144px) { // i am not sorry
        .tableNormal {
                th {
                        font-size: 20px !important;
                }
        }
}

@media only screen and (max-width: 845px) {
        #container {
                width: 100vw;
        }
        .tableNormal {
                border: 0.2em solid $chaosGreen;
                width: 90vw;

                td, th {
                        min-width: 20px !important;
                        max-width: 50vw;
                        font-size: 0.75em !important;
                }
        }
        .mobile {
                display: block !important;
                pointer-events: all !important;
        }
        .desktop {
                display: none !important;
                pointer-events: none !important;
        }
}